@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre&display=swap');

/* APP */

body {
  background-color: seagreen;
  font-family: "Gemunu Libre", "MyWebFont", Fallback, sans-serif;
}

/* HEADER */

.header {
  display: flex;
  justify-content: space-around;
}

.title {
  margin-left: 300px;
}

.menu {
  display: flex;
  list-style-type: none;
  gap: 20px;
  margin-right: 48px;
  padding-top: 10px;
}

.item {
  font-size: 1.2em;
  text-decoration: none;
  color: #000;
}

.item:hover {
  color: rgb(236, 225, 214);
}

/* HOME */

.home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-title {
  font-size: 25px;
  position: relative;
  right: 150px;
}

.home-quote {
  font-size: 1.2em;
  margin-left: 450px;
  margin-right: 150px;
}

/* CALCULATOR */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  font-size: 1.1em;
}

.prompt {
  margin-right: 50px;
  font-size: 1.1em;
  font-weight: 900;
  position: relative;
  right: 150px;
  top: 35px;
}

.output {
  display: flex;
  align-self: flex-end;
  margin-right: 200px;
  width: 560px;
  background-color: gray;
}

.display {
  position: relative;
  left: 483px;
  color: #fff;
}

.buttons {
  display: flex;
  align-self: flex-end;
  margin-right: 200px;
}

.btn {
  background-color: #fff;
  padding: 20px;
  width: 140px;
  border: 1px solid rgb(206, 198, 198);
  cursor: pointer;
  font-weight: bold;
}

.btn.end {
  background-color: rgb(255, 166, 0);
}

.btn.zero {
  width: 280px;
}

/* QUOTE */

.main {
  display: flex;
  justify-content: center;
}

.quote {
  font-size: 1.15em;
  margin-left: 450px;
  margin-right: 90px;
  margin-top: 120px;
}
